.aside02 {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  
  &__menu {
    font-size: 1.5rem;
    padding-top: 2.2rem;
  }

  &__item {
    color: #d9d9d9;

    &--active {
      color: #000000;
    }
  }
}