.aside01 {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 200px;
  padding-top: 50px;
  

  .aside01__menu {
    font-size: 24px;
    padding-top: 40px;
  }

  .aside01__item {
    color: #d9d9d9;
  }

  .aside01__item--active {
    color: #000000;
  }
}

