<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
</head>
<body>
    <div>
        <a href="/mypage">내정보</a>
        <a href="/mypage/edit">회원정보 수정</a>
        <a href="/mypage/editPW">비밀번호 변경</a>
    </div><hr>
</body>
</html>