<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 수정</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.js"></script>
</head>
<body>
    <div>
        <a href="/mypage">내정보</a>
        <a href="/mypage/edit">회원정보 수정</a>
        <a href="/mypage/editPW">비밀번호 변경</a>
    </div>

    <div class="container mt-3">
        <form action="/signin" method="post">
            <div class="form-group">
                <label>비밀번호 재확인</label><br>
                <input type="password" name="password" id="input-exist-pass"><br>
                <button type="button" id="button-exist-pass" onclick="VerifyPassword()">확인</button>
                <div id="warn-password" style="font-size:12px; color:green"></div>
            </div><p></p>

            <div class="form-group">
                <label>비밀번호 변경</label><br>
                <input type="password" name="password" id="password1" onblur="IsValidPassword()" disabled><br>
                <div id="warn-password1" style="font-size:12px; color:red"></div>
                <input type="password" name="password" id="password2" onblur="CheckPasswords()" disabled><br>
                <div id="warn-password2" style="font-size:12px; color:red"></div>
                <button type="submit" id="submit-new-pass" onclick="" disabled>변경</button>
            </div><p></p>            
        </form>
    </div>

    <script>
        function VerifyPassword() {
            console.log(document.getElementById("input-exist-pass").value)
            let inputPass = document.getElementById("input-exist-pass").value;
            $.ajax({
                type : 'POST',
                url : "/verifyPassword",
                data : {
                    input   : "password",
                    password: inputPass,
                },
                error : function(err) {
                    alert("실행중 오류가 발생하였습니다.");
                },
                success : function(data) {
                    if(data === "correct") {
                        document.getElementById("warn-password").innerHTML = "확인되었습니다.";
                        document.getElementById("input-exist-pass").disabled = true;
                        document.getElementById("button-exist-pass").disabled = true;
                        document.getElementById("password1").disabled = false;
                        document.getElementById("password2").disabled = false;
                        document.getElementById("submit-new-pass").disabled = false;
                    }
                    else {
                        alert("비밀번호가 맞지 않습니다.")
                    }
                }
            });
        }

        function IsValidPassword() {
            if($("#password1").val().length === "") {
                document.getElementById("warn-password1").innerHTML = "";
                $("#password1").removeAttr("checked");
            }
            else if($("#password1").val().length > 0 && $("#password1").val().length < 12) {
                document.getElementById("warn-password1").innerHTML = "최소 12자 이상의 비밀번호를 입력해주세요.";
                $("#password1").removeAttr("checked");
            }
            else if($("#password1").val().length > 64) {
                document.getElementById("warn-password1").innerHTML = "64자 이내의 비밀번호를 입력해주세요.";
                $("#password1").removeAttr("checked");
            }
            else if($("#password1").val() === $("#input-exist-pass").val()) {

            }
            else {
                document.getElementById("warn-password1").innerHTML = "";
                $("#password1").attr("checked", "on");
                CheckPasswords();
            }
        }

        function CheckPasswords() {
            if($("#password1").val() === $("#password2").val()) {
                document.getElementById("warn-password2").innerHTML = "";
                $("#password2").attr("checked", "on");
            }
            else if($("#password2").val() === "") {
                document.getElementById("warn-password2").innerHTML = "";
                $("#password2").removeAttr("checked");
            }
            else {
                document.getElementById("warn-password2").innerHTML = "비밀번호가 일치하지 않습니다.";
                document.getElementById("password2").value = "";
                $("#password2").removeAttr("checked");
            }
        }

        // 기존비밀번호랑 함수만들다 말았음
    </script>
</body>
</html>