<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 수정</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.js"></script>
</head>
<body>
    <div>
        <a href="/mypage">내정보</a>
        <a href="/mypage/edit">회원정보 수정</a>
        <a href="/mypage/editPW">비밀번호 변경</a>
        <a href="/signin">로그인</a>
        <a href="/signout">로그아웃</a>
        <a href="/community">커뮤니티</a>
        <a href="/community/write">글쓰기</a>
        <img style="height:20px; width:20px; border-radius: 70%; overflow: hidden; align-items: center;" src=<%= userInfo.profile_image_path %>> 
        <b><%= userInfo.nickname %></b><br>
    </div><hr>

    <form action="/editPassword?_method=PUT" method="post" id="edit-password">
        <div class="form-group">
            <label>비밀번호 재확인</label><br>
            <input type="password" name="password" id="old-password"><br>
            <div id="warn-old-pass" style="font-size:12px; color:green"></div>
            <button type="button" id="submit-old-pass" onclick="VerifyPassword()">확인</button>
        </div><p></p>
    
        <div class="form-group">
            <label>비밀번호 변경</label><br>
            <input type="password" name="password" id="new-password1" onblur="IsValidPassword()" disabled><br>
            <div id="warn-new-pass1" style="font-size:12px; color:red"></div>
            <input type="password" name="password" id="new-password2" onblur="CheckPasswords()" disabled><br>
            <div id="warn-new-pass2" style="font-size:12px; color:red"></div>
            <button type="button" id="submit-new-pass" onclick="EditPassword()" disabled>변경</button>
        </div><p></p>
    </form>

    <script>

        let inputOldPass = document.getElementById("old-password");
        let warnOldPass = document.getElementById("warn-old-pass");
        let submitOldPass = document.getElementById("submit-old-pass");

        let inputNewPass1 = document.getElementById("new-password1");
        let warnNewPass1 = document.getElementById("warn-new-pass1");
        let inputNewPass2 = document.getElementById("new-password2");
        let warnNewPass2 = document.getElementById("warn-new-pass2");
        let submitNewPass = document.getElementById("submit-new-pass");

        function VerifyPassword() {
            $.ajax({
                type : 'POST',
                url : "/verifyPassword",
                data : {
                    input   : "password",
                    password: inputOldPass.value,
                },
                error : function(err) {
                    alert("실행중 오류가 발생하였습니다.");
                },
                success : function(send) {
                    if(send === "verified") {
                        inputOldPass.setAttribute("disabled", true);
                        submitOldPass.setAttribute("disabled", true);
                        warnOldPass.innerHTML = "확인되었습니다.";
                        inputNewPass1.removeAttribute("disabled");
                        inputNewPass2.removeAttribute("disabled");
                        submitNewPass.removeAttribute("disabled");
                    }
                    else {
                        alert("비밀번호가 맞지 않습니다.")
                    }
                }
            });
        }

        function IsValidPassword() {
            if(inputNewPass1.value.length === "") {
                inputNewPass1.removeAttribute("checked");
                warnNewPass1.innerHTML = "";
            }
            else if(inputNewPass1.value.length > 0 && inputNewPass1.value.length < 12) {
                inputNewPass1.removeAttribute("checked");
                warnNewPass1.innerHTML = "최소 12자 이상의 비밀번호를 입력해주세요.";
            }
            else if(inputNewPass1.value.length > 64) {
                inputNewPass1.removeAttribute("checked");
                warnNewPass1.innerHTML = "64자 이내의 비밀번호를 입력해주세요.";
            }
            else if(inputNewPass1.value === inputOldPass.value) {
                inputNewPass1.removeAttribute("checked");
                warnNewPass1.innerHTML = "이전 비밀번호와 같습니다.";
            }
            else {
                inputNewPass1.setAttribute("checked", "checked");
                warnNewPass1.innerHTML = "";
                CheckPasswords();
            }
        }

        function CheckPasswords() {
            if(inputNewPass1.value === inputNewPass2.value) {
                inputNewPass2.setAttribute("checked", "checked");
                warnNewPass2.innerHTML = "";
            }
            else if(inputNewPass2.value === "") {
                inputNewPass2.removeAttribute("checked");
                warnNewPass2.innerHTML = "";
            }
            else {
                inputNewPass2.value = "";
                inputNewPass2.removeAttribute("checked");
                warnNewPass2.innerHTML = "비밀번호가 일치하지 않습니다.";
            }
        }

        function EditPassword() {
            CheckPasswords();

            let checkPass1 = inputNewPass1.getAttribute("checked");
            let checkPass2 = inputNewPass2.getAttribute("checked");

            if(checkPass1 === "checked" && checkPass2 === "checked") {
                document.getElementById("edit-password").submit();
            }            
        }
    </script>
</body>
</html>