<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.js"></script>
</head>
<body>
    <div class="container mt-3">
        <form action="/signin" method="post">
            <div class="form-group">
                <label>이메일</label><br>
                <input type="email" name="email" class="form-control">
            </div><p></p>
            <div class="form-group">
                <label>비밀번호</label><br>
                <input type="password" name="password" class="form-control">
            </div><p></p>
            <button type="submit" class="btn btn-outline-danger">로그인</button>
        </form>
    </div>
</body>
</html>