<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.js"></script>
</head>
<body>
    <h2 class="container mt-4">회원가입 페이지</h2>
    
    <div class="container mt-3">
        <form action="/signup" method="post" id="signup">
            <!-- 이메일 -->
            <div class="form-group">
                <label><b>이메일</b></label><br>
                <input type="email" name="email" class="input-email form-control" id="input-email" onblur="IsValidEmail()" onchange="AuthReset()" required>
                <button type="button" id="send-email" onclick="CheckEmail()" disabled="true">인증메일 전송</button>
                <div id="warn-email" style="font-size:12px; color:red"></div>
            </div><br>

            <!-- 인증번호 -->
            <div class="form-group" id="auth-tab">
                <label><b>인증번호 확인</b></label><br>
                <input type="text" id="input-authNum">
                <button type="button" onclick="SendAuthRequest()" id="send-authNum">인증번호 확인</button>
                <div id="warn-auth" style="font-size:12px; color:red"></div>
            </div><br>

            <!-- 닉네임 -->
            <div class="form-group">
                <label><b>닉네임</b></label><br>
                <input type="nickname" name="nickname" class="input-nickname form-control" id="input-nickname" onblur="IsValidNickname()" required>
                <div id="warn-nickname" style="font-size:12px; color:red"></div>
            </div><br>

            <!-- 비밀번호 -->
            <div class="form-group">
                <label><b>비밀번호</b></label><br>
                <input type="password" name="password1" id="password1" onblur="IsValidPassword();" required>
                <div id="warn-password1" style="font-size:12px; color:red"></div>
            </div><br>

            <!-- 비밀번호 확인 -->
            <div class="form-group">
                <label><b>비밀번호 확인</b></label><br>
                <input type="password" name="password2" id="password2" onblur="CheckPasswords()" required>
                <div id="warn-password2" style="font-size:12px; color:red"></div>
            </div><br>
        </form><br>
        
        <button type="submit" id="submit-button" onclick="CheckAll()" style="width:178px">가입하기</button><p></p>
    </div>

    <script>

        // 이메일 입력 폼
        let warnEmail = document.getElementById("warn-email");
        let inputEmail = document.getElementById("input-email"); 
        let sendEmail = document.getElementById("send-email");
        
        function IsValidEmail() {        
            var reg_email = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;
            warnEmail.setAttribute("style", "color:red; font-size:small");

            // 이메일 입력이 빈 칸인 경우
            if(inputEmail.value === "") {
                warnEmail.innerHTML = "";
                inputEmail.removeAttribute("checked");
                sendEmail.setAttribute("disabled", true);
            }
            // 이메일 형식에 맞지 않는 경우
            else if(!reg_email.test(inputEmail.value)) {
                warnEmail.innerHTML = "이메일 형식이 올바르지 않습니다.";
                inputEmail.removeAttribute("checked");
                sendEmail.setAttribute("disabled", true);
            }
            // 이메일 형식에 맞는 경우, 중복 검사
            else {
                $.ajax({
                    type : 'POST',
                    url : "/isDuplicate",
                    data : {
                        input: "email",
                        email: inputEmail.value,
                    },
                    error : function(err) {
                        alert("실행중 오류가 발생하였습니다.");
                        inputEmail.removeAttribute("checked");
                    },
                    success : function(send) {
                        if(send === true) {
                            warnEmail.innerHTML = "이미 사용중인 이메일입니다.";
                            inputEmail.removeAttribute("checked");
                            sendEmail.setAttribute("disabled", true);
                        }
                        else {
                            warnEmail.innerHTML = "가입 가능한 이메일입니다.";
                            warnEmail.setAttribute("style", "color:green; font-size:small");
                            inputEmail.setAttribute("checked", "checked");
                            sendEmail.disabled = false;
                        }
                    }
                });
            }
        }

        // 인증메일 발송
        function CheckEmail() {
            warnEmail.setAttribute("style", "color:red; font-size:small");
            
            if(inputEmail.getAttribute("checked") === "checked") {
                $.ajax({
                    type : 'POST',
                    url : "/mail",
                    data : {
                        input   : "email",
                        email: inputEmail.value,
                    },
                    error : function(err) {
                        alert("실행중 오류가 발생하였습니다.");
                    },
                    success : function(send) {
                        if(send === "send") {
                            warnEmail.setAttribute("style", "color:green; font-size:small");
                            warnEmail.innerHTML = "메일이 발송되었습니다.";
                            setTimeout(() => warnEmail.innerHTML = "", 3000);
                        }
                        if(send === "exist") {
                            warnEmail.innerHTML = "이미 발송되었습니다.";
                            setTimeout(() => warnEmail.innerHTML = "", 3000);
                        }
                    }
                })
            }
        }

        // 인증번호 입력 폼
        let inputAuth = document.getElementById("input-authNum");
        let warnAuth = document.getElementById("warn-auth");
        let sendAuth = document.getElementById("send-authNum")

        function SendAuthRequest() {
            $.ajax({
                type : 'POST',
                url : "/authCheck",
                data : {
                    input  : "authRequest",
                    email  : inputEmail.value,
                    authNum: inputAuth.value,
                },
                error : function(err) {
                    alert("실행중 오류가 발생하였습니다.");
                },
                // 인증이 유효한 경우 : res.send(true)
                success : function(send) {
                    if(send === true) {
                        warnAuth.style.color = "green";
                        warnAuth.innerHTML = "인증되었습니다.";
                        inputEmail.setAttribute("disabled", true);
                        sendEmail.setAttribute("disabled", true);
                        inputAuth.setAttribute("disabled", true);
                        sendAuth.setAttribute("disabled", true);
                        inputAuth.setAttribute("checked", "checked");
                    }
                    else warnAuth.innerHTML = "인증번호가 올바르지 않습니다.";
                }
            });
        }

        // 인증 후 이메일 변경 시 인증 취소
        function AuthReset() {
            inputAuth.removeAttribute("checked");
        }

        // 닉네임 입력 폼
        let inputNick = document.getElementById("input-nickname");
        let warnNick = document.getElementById("warn-nickname");

        function IsValidNickname() {
            var nickLength = inputNick.value.length;
            warnNick.setAttribute("style", "color:red; font-size:small");

            // 체크리스트
            var engCheck = /[a-z]/;
            var numCheck = /[0-9]/;
            var specialCheck = /[`~!@#$%^&*|\\\'\";:\/?]/;
                
            // 닉네임 입력 필수
            if(inputNick.value === null || inputNick.value === "") {
                inputNick.removeAttribute("checked");
                warnNick.innerHTML = "닉네임 입력은 필수입니다.";
            }
            // 닉네임 빈칸 포함 불가
            else if(inputNick.value.search(/\s/) !== -1) {
                inputNick.removeAttribute("checked");
                warnNick.innerHTML = "닉네임은 빈 칸을 포함 할 수 없습니다.";
            }
            // 닉네임 한글, 영문 및 숫자 2 ~ 8자 제한
            else if(nickLength < 2 || nickLength > 8) {
                inputNick.removeAttribute("checked");
                warnNick.innerHTML = "닉네임은 2 ~ 8자 이내로 작성해주세요.";
            }
            // 닉네임 특수문자 포함 불가    
            else if(specialCheck.test(inputNick.value)) {
                inputNick.removeAttribute("checked");
                warnNick.innerHTML = "닉네임은 특수문자를 포함 할 수 없습니다.";
            }
            // 닉네임 중복확인
            else {
                $.ajax({
                    type : 'POST',
                    url : "/isDuplicate",
                    data : {
                        input   : "nickname",
                        nickname: inputNick.value,
                    },
                    error : function(err) {
                        alert("실행중 오류가 발생하였습니다.");
                    },
                    // 닉네임 중복인 경우 : res.send(true)
                    success : function(send) {
                        if(send === true) {
                            inputNick.removeAttribute("checked");
                            warnNick.innerHTML = "이미 사용중인 닉네임입니다.";
                        }
                        else {
                            inputNick.setAttribute("checked", "checked");
                            warnNick.setAttribute("style", "color:green; font-size:small");
                            warnNick.innerHTML = "사용가능한 닉네임입니다.";
                        }
                    }
                });
            }
        }

        // 비밀번호 입력 폼
        let password1 = document.getElementById("password1");
        let warnPass1 = document.getElementById("warn-password1");
        let password2 = document.getElementById("password2");
        let warnPass2 = document.getElementById("warn-password2");

        function IsValidPassword() {
            // 비밀번호 입력이 빈 칸인 경우
            if(password1.value.length === "") {
                password1.removeAttribute("checked");
                warnPass1.innerHTML = "";
            }
            // 비밀번호 길이가 12자 미만인 경우
            else if(password1.value.length > 0 && password1.value.length < 12) {
                password1.removeAttribute("checked");
                warnPass1.innerHTML = "최소 12자 이상의 비밀번호를 입력해주세요.";
            }
            // 비밀번호 길이가 64자 초과인 경우
            else if(password1.value.length > 64) {
                password1.removeAttribute("checked");
                warnPass1.innerHTML = "64자 이내의 비밀번호를 입력해주세요.";
            }
            // 권장 비밀번호 길이인 경우
            else {
                password1.setAttribute("checked", "checked");
                warnPass1.innerHTML = "";
                CheckPasswords();
            }
        }

        function CheckPasswords() {
            // 비밀번호와 비밀번호 확인 일치
            if(password1.value === password2.value) {
                password2.setAttribute("checked", "checked");
                warnPass2.innerHTML = "";
            }
            // 비밀번호 확인이 빈칸
            else if(password2.value === "") {
                password2.removeAttribute("checked");
                warnPass2.innerHTML = "";
            }
            // 비밀번호와 비밀번호 확인이 비일치
            else if(!(password1.value === password2.value)) {
                password2.value = "";
                password2.removeAttribute("checked");
                warnPass2.innerHTML = "비밀번호가 일치하지 않습니다.";
            }
        }

        function CheckAll() {
            CheckPasswords();

            // 가입 폼 입력상태
            let checkEmail = inputEmail.getAttribute("checked");
            let checkAuth = inputAuth.getAttribute("checked");
            let checkNick = inputNick.getAttribute("checked");
            let checkPass1 = password1.getAttribute("checked");
            let checkPass2 = password2.getAttribute("checked");

            // 올바르게 폼 입력 완료
            if(checkEmail === "checked" && checkNick === "checked" && checkPass1 === "checked" && checkPass2 === "checked" && checkAuth === "checked") {
                inputEmail.removeAttribute("disabled");
                document.getElementById("signup").submit();
                inputEmail.value = "";
                inputAuth.value = "";
                inputNick.value = "";
            }
            // 이메일 오류
            else if(!(checkEmail === "checked")) {
                warnEmail.innerHTML = "이메일이 올바르지 않습니다.";
            }
            // 인증 미완료
            else if(!(checkAuth === "checked")) {
                warnAuth.innerHTML = "인증이 완료되지 않았습니다.";
            }
            // 닉네임 오류
            else if(!(checkNick === "checked")) {
                warnNick.innerHTML = "닉네임을 확인해주세요.";
            }
            // 비밀번호 오류
            else if(!(checkPass1 === "checked")) {
                warnPass1.innerHTML = "비밀번호를 바르게 입력해주세요.";
            }
            // 비밀번호 확인 오류
            else if(!(checkPass2 === "checked")) {
                warnPass2.innerHTML = "비밀번호를 확인해주세요.";
            }            
        }
    </script>
</body>
</html>

