<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
      <form action="/image" enctype="multipart/form-data" method="post">
          <input type="file" id="imgname" name="file1" onchange="fileUpload(this)">
          <input type="submit" id="reqimg" value="Upload file" onclick="reqImg()"/>
          <input type='hidden' id="uploadtest" readonly="readonly"/> 
      </form>
  </body>
  <script>
    var fileInput

    function fileUpload(){
            var fileInput = document.getElementById("imgname").files[0].name;
            document.getElementById("uploadtest").value = fileInput
            console.log("불러오기 완료")
        }

    function reqImg(){
        opener.document.getElementById("test").value = document.getElementById("uploadtest").value
        opener.parent.testfunc()
    }
  </script>
</html>