.signin-container {
    width: 100%;
    background-color: #fafafa;

    .signin-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 100px 0;

        img {
            width: 7rem;
            margin-bottom: 40px;
        }

        input {
            margin: 7.5px;
        }

        button {
            margin-top: 20px;
        }
    }

    .--top {
        border-bottom: 1px solid #d9d9d9;
    }

    .--bottom {
        padding-top: 100px;

        span {
            font-size: 1.4rem;
        }        
    }

}