.myinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;

  &-profile {
    display: flex;
    align-items: center;
    font-size: 1.5rem;

    img {
      width: 6.25rem;
      border-radius: 50%;
      margin-right: 20px;
    }
    span:nth-of-type(1) {
      font-family: SUIT-Bold;
      padding-right: 10px;
    }
  }

  &-info {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 50px 0;
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    width: 80%;
    height: 6rem;

    ul {
      display: flex;
      justify-content: center;
      width: 100%;

      li:not(:last-child) {
        border-right: 1px solid #d9d9d9;
      }
    }

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 11%;
      
      span {
        font-size: 1rem;
        padding-bottom: 7px;
      }

      strong {
        font-size: 1.5rem;
      }

      div > span {
        font-size: 1.25rem;
        padding-left: 5px;
      }
    }
  }

  &-post {
    display: flex;
    flex-direction: column;
    padding-top: 50px;

    &__title {
      span {
        font-size: 1.5rem;
        padding-left: 20px;
        padding-right: 15px;
        cursor: pointer;
      }

      img  {
        width: 0.6rem;
      }
    }
  
    &__postlist {
      display: flex; 
      justify-content: flex-start;
      padding: 25px 0;
    }

    &__postitem {
      width: calc(90%/2.9);
      box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      margin: 10px;
    }
  }
}