.Banner03 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 350px;
  margin: 0 auto;
  background-color: #fafafa;


  .Banner03-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width:1200px;
    height: 350px;

    h1 {
      font-size: 32px;
      font-family: Jalnan;
    }

    p {
      font-size: 24px;
      font-family: SUIT-Light;
      padding-top: 12px;
    }
  }
}

.explore {
  background-image: url("../../../assets/images/explore.svg");
}

.community {
  background-image: url("../../../assets/images/community.svg");
}

.point {
  background-image: url("../../../assets/images/point.svg");
}

.qna {
  background-image: url("../../../assets/images/qna.svg");
}

.mypage {
  background-image: url("../../../assets/images/mypage.svg");
}