.banner01 {
  background-color: #d9d9d9;
  
  .slick-slider {
    width: 100%;
  }

  // .slick-prev {
  //   left: 20px;
  //   z-index: 99;
  // }

  // .slick-next {
  //   right: 20px;
  // }

  .slick-dots {
    color: #ffffff;
    bottom : 30px;

    li.slick-active button:before {
      color: #ffffff;
    }

    button:before {
    color: #ffffff;
    }
  }

  h1 {
    font-family: Jalnan;
    font-size: 2.26rem;
  }

  p {
    font-family: SUIT-Light;
    font-size: 2.26rem;
    padding-top: 15px;
  }

  &__item {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 31.25rem;
    color: #ffffff;
    outline: none;
  }

  &__left {
    div {
      display: flex;
      align-items: center;
      padding-top: 30px;
      cursor: pointer;
    }

    img {
      position: relative;
      left: -28px;
      width: 0.55rem;
    }

    button {
      width: 100%;
      height: 40px;
      max-width: 142px;
      background-color: rgba($color: #000000, $alpha: 0.4);
      color: #ffffff;
      font-size: 16px;
      border: none;
      border-radius: 20px;
    }
  }


  &__right{
    padding-left: 100px;
  }
}

.slideA {
  background-color: #63BFF3;
}

.slideB {
  background-color: #FFB850;
}

.slideC {
  background-color: #BFB8DA;
}