.Nav03__list {
  display: flex;
  align-items: center;

  :not(:first-child) {
    padding-left: 18px;
  }
}

.Nav03__user {
  font-size: 1.25rem;

  :first-child {
    font-family: SUIT-Bold;
  }

  :last-child {
    padding-left: 10px;
    font-family: SUIT-Medium;
  }
}

.Nav03__menu {
  cursor: pointer;
}