.detail {
  padding: 100px 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 10px;
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    
    h1 {
        text-align: center;
        word-wrap: break-word;
        width: 90%;
    }

    &__date {
        display: flex;
        justify-content: flex-end;
        width: 90%;
        color: #808080;
        padding: 10px 0;
    }

    &__user {
        display: flex;
        align-items: center;
        font-size: 1.25rem;

        img {
          margin-right: 10px;
          border-radius: 50%;
          border: 1px solid #d1d9de;
          width: 45px;
          height: 45px;
        }
    }

    &__image {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 90%;

      img {
        width: 15rem;
        height: 15rem;
        margin: 5px;
      }
    }

    pre {
      max-width: 90%;
      word-wrap: break-word;
      word-break: keep-all;
      white-space: pre-line;
      padding: 30px 0;
    }

    &__like {
      background-color: #ffffff;
      border: none;
      margin: 10px 0;

      img {
        width: 1.5rem;
      }
    }
  }

  &__button {
    display: flex;
    padding-top: 40px;
    
    :not(:last-child) {
      margin-right: 15px;
    }
  }
}