.write {
  padding: 100px 0;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 10px;
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.2);

    input {
      outline: none;
      border: none;
      border-bottom: 1px solid #D1D9DE;
      font-family: SUIT-Medium;
  
      &:focus {
        border-bottom: 1px solid #4461AA;
      }
    }

    &__title {
      width: 90%;
      height: 4rem;
      font-size: 2rem;
    }

    &__location {
      display: flex;
      justify-content: space-between;
      width: 90%;
      padding: 30px 0;


      &__address {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;

        input {
          width: 100%;
          font-size: 1.25rem;
          padding: 0.5rem;
        }
        button {
          width: 26%;
          border-radius: 1.4rem;
          border: 2px solid #D1D9DE;
          padding: 10px;
          background-color: #ffffff;
          font-family: "SUIT-Medium";
          font-size: 1rem;
          &:hover {
            border: 2px solid #4461AA;
          }
        }

        :not(:first-child) {
          padding-top: 30px;
        }
      }
    }
    
    textarea {
      width: 90%;
      border: 1px solid #D1D9DE;
      outline: none;
      font-family: SUIT-Medium;
      font-size: 1rem;
      resize: none;

      &:focus {
        border: 1px solid #4461AA;
      }
    }

    &__image {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      padding-bottom: 30px;
      width: 90%;

      :not(:last-child) {
        margin-right: 0.5rem;
        width: 8rem;
      }
    }
  }

  &__button {
    display: flex;
    padding-top: 40px;

    :first-child {
      margin-right: 15px;
    }
  }
}